* {
    border: 1px solid red;
}

#page {
    margin-left: auto;
    margin-right: auto;
}

#banner {
    background-color: #002244;
}

#banner h1,
p {
    color: #FFFFFF;
    text-align: center;
    color: #C60C30;
    font: MLB Tuscan;
}

#scoreboard {
    width: 100%;
}

.col-md-5.col-sm-8.scorecol {
    margin-left: 3%;
}

.scoreFont {
    color: #FFFFFF;
}

.container #full-board {
    background-color: #084117;
    background-size: 100%;
    border-radius: 0;
    padding: 2%;
}

#white-border {
    margin: .5%;
    border: 18px solid white;
}

#innings {
    letter-spacing: 12px;
    font-size: 36px;
    font-weight: bold;
}

#FP {
    font-size: 63px;
    letter-spacing: 6px;
    font-weight: bold;
}

.sbfonts {
    text-align: center;
    color: #FFFFFF;
    font-size: 38px;
}

.sbfonts2 {
    text-align: right;
    color: #FFFFFF;
    font-size: 36px;
}

#main-row {
    border-bottom: 19px solid white;
}

div#remainingGuess {
    color: #084117;
    font-size: 30px;
    letter-spacing: 10px;
}

div#wordBlanks {
    font-size: 36px;
    color: #084117;
    background-color: white;
}

div#guessedLetters {
    font-size: 40px;
}

#atBatNum {
    background-color: #084117;
    border: 2px solid black;
    font-size: 36px;
    width: 10%;
    color: yellow;
    ;
}

#wins {
    font-size: 38px;
    padding-top: 78%;
    padding-left: 33%;
}

#losses {
    font-size: 38px;
    padding-top: 49%;
    padding-left: 33%;
}

img.num {
    position: absolute;
    top: 110.5%;
    width: 2%
}

.col-md-8.scorecol {
    padding-top: 6%;
}

.col-md-4.winlo {
    padding-left: 19%;
    padding-top: 2%;
}

.scoredisplay {
    background-color: white;
    margin-left: 2%;
    padding-left: 3%;
}


/* Media Queries */


/*@media screen and (max-width: 1200px) {
    div#remaingingGuess {
        top: 157%;
    }
    div#wordBanks {
        top: 310%;
        font-size: 36px;
    }
    div#guessedLetters {
        top: 636%;
    }
    div#wins {
        padding-top: 70%;
    }
    div#losses {
        padding-top: 43%;
    }

    @media screen and (max-width: 991px) {
        div#remaingingGuess {
            top: 120%;
            left: 31%;
        }
        div#wordBanks {
            top: 261%;
            left: 31%;
            font-size: 38px;
        }
        div#guessedLetters {
            top: 613%;
            left: 31%;
            font-size: 33px;
        }
        div#wins {
            font-size: 30px;
            padding-top: 71%;
            padding-left: 67%;
        }
        div#losses {
            padding-left: 67%;
        }
    }*/